* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #661919;
  color: #ffffff;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: #950101;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.login-box label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffff;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 8px;
  font-size: 16px;
  color: #ffffff;
  background-color: #4a0000;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-box button:hover {
  background-color: #0056b3;
}

.logo-projeto {
  display: block;
  margin-left: 63px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 200px;
  height: auto;
}
